.footer {
  text-align: center;
  background-color: #303030;
  color: #fff;
  padding-top: 16px;
}

.footer-border {
  width: 1400px;
  height: 0.5px;
  background-color: #ffffff;
  margin: 0 auto 12px auto;
}

.ant-col-12.left {
  text-align: left;
  padding-left: 16px;
}
.ant-col-12.right {
  text-align: right;
  padding-right: 16px;
}
.ant-col-12.rightR {
  text-align: right;
  /* padding-right: 16px; */
}
.footerImg {
  width: 20px;
  height: 20px;
}
.style {
  text-align: left;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
