.menuContainer {
  display: flex;
  transition: justify-content 0.3s ease;
}
.menuContainer.collapsed {
  justify-content: initial;
 justify-content: center;


}
.menuContainer.expanded {
  justify-content: flex-end;  
}

button.toggle-menu-btn{
  background-color:transparent;
  border:none;
  cursor:pointer;

}
.menuImg{
  background-color: rgb(73, 97, 255);
  border: none;
  padding: 2px 2px;
  height: 40px;
  border-radius: 6px;
}
.calendarContainer{
  margin-top:16; 
  padding: 8;
}
.calendar{
  position:absolute;
  top:100px;
  left:380px;
  z-index:2;
  background-color: "#333" 
}
.imgWorlds{
  width: 20px;
  height: 20px; 
}
.switchTabContainer{
  display: flex;
  align-items: center;
  justify-content:  space-between;
}
.messagetext {
  font-size: 16px;
  text-align: left;
  margin-left: 20px;
}